/* 内容1 start */
.slidershow{
    /* width: 1366px; */
    height: 800px;
    background-color: black;
}
.imgbox{
    display: block;
    width: 1366px;
    height: 800px;
    overflow: hidden;
    background-size: 100%;

}

.btns{
    position: relative;
    left: 650px;
    top: -100px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.btns li{
    float: left;
}
.btns li a{
    width: 40px;
    height: 20px;
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    /* border: 2px solid black; */
}
.btns li a:hover{
    background-color: rgb(255, 166, 0);
    color: black;
}
.slidershow h3{
    position: relative;
    left: 470px;
    top: -550px;
    color:white;
    font-size: 30px;
}
.slidershow h1{
    position: relative;
    top: -560px;
    left: 360px;
    color:white;
    font-size: 70px;
}
.slidershow p{
    position: relative;
    left: 550px;
    top: -550px;
    color:white;
    font-size: 20px;
}
.slidershow .btn1{
    height: 60px;
    width: 150px;
    background-color: rgb(193, 143, 51);
    position: relative;
    left: 520px;
    top: -530px;
    line-height: 60px;
    border-radius: 5px;
    
}
.slidershow .btn1 a{
    position: absolute;
    color: white;
    left: 22px;
    font-size: 20px;
}
.slidershow .btn1:hover{
    background-color: rgb(255, 166, 0);
    
}
.slidershow .btn1 a:hover{
    color: #000;
}
.slidershow .btn2{
    height: 60px;
    width: 150px;
    background-color: rgb(193, 143, 51);
    position: relative;
    left: 750px;
    top: -589px;
    line-height: 60px;
    border-radius: 5px;
    
}
.slidershow .btn2 a{
    position: absolute;
    color: white;
    left: 22px;
    font-size: 20px;
}
.slidershow .btn2:hover{
    background-color: rgb(255, 166, 0);
    
}
.slidershow .btn2 a:hover{
    color: #000;
}
/* 内容1 end */

/* 内容2 start*/
.content{
    height: 600px;
    /* background-color: pink; */
}
.content .c_left{
    height: 600px;
    width: 600px;
    /* background-color: red; */
}
.content .c_left .txt1{
    position: relative;
    top: 60px;
    left: 30px;
    font-size: 30px;
    color: rgb(53, 132, 53);
}
.content .c_left .txt2{
    position: relative;
    top: 80px;
    left: 20px;
    font-size: 50px;
    color:  rgb(255, 166, 0);
}
.content .c_left .txt3{
    position: relative;
    top: 100px;
    font-size: 20px;
    color: rgb(128,128,128);
    text-indent: 30px;
}
.content .c_left ul li{
    position: relative;
    top: 130px;
    left: 20px;
    font-size: 20px;
}
.content .c_left ul li span{
    font-size: 20px;
    color: black;
}
.content .c_left .btn{
    height: 60px;
    width: 150px;
    position: relative;
    top: 160px;
    left: 20px;
    
    background-color: rgb(193, 143, 51);
    border-radius: 5px;
}
.content .c_left .btn a{
    position: relative;
    left: 20px;
    top: 15px;
    font-size: 20px;
    color: white;
}
.content .c_left .btn:hover{
    background-color: rgb(255, 166, 0);
}
.content .c_left .btn a:hover{
    color: black;
}
.content .c_right{
    height: 600px;
    width: 600px;
    background-color: green;
}
.content .c_right .box1{
    height: 300px;
    width: 600px;
    /* background-color: blue; */
}
.content .c_right .box2{
    height: 300px;
    width: 600px;
    /* background-color: green; */
}
.content .c_right .box2 .box3{
    margin-right: 5px;
}
/* 内容2 end*/

/* 内容3 start*/
.content2{
    height: 1150px;
    background-color: rgb(236, 233, 233);
}
.content2 .txt1{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(53, 132, 53);
}
.content2 .txt2{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 50px;
    color:  rgb(255, 166, 0);
}
.content2 .c_box{
    height: 1150px;
    /* background-color: aqua; */
}
.content2 .c_box .c_box1{
    position: relative;
    top: 50px;
    height: 450px;
    width: 400px;
    background-color: white;
    margin-right: 100px;
    
}
.content2 .c_box .c_box1 p span{
    font-size: 100px;
    color: green;
    position: relative;
    left: 110px;

}
.content2 .c_box .c_box1 h3{
    position: relative;
    left: 90px;
    top: 50px;
    font-size: 30px;
}
.content2 .c_box .c_box1 p{
    position: relative;
    top: 60px;
    font-size: 20px;
    text-indent: 30px;
    color: rgb(128,128,128);
}
.content2 .c_box .c_box1 a{
    position: relative;
    top: 100px;
    left: 120px;
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.content2 .c_box .c_box1 a:hover{
    text-decoration: underline;
}
.content2 .c_box .c_box2{
    position: relative;
    top: 50px;
    height: 450px;
    width: 400px;
    background-color: white;
    margin-right: 100px;
}
.content2 .c_box .c_box2 p span{
    font-size: 80px;
    color: green;
    position: relative;
    left: 140px;
    top: -15px;


}
.content2 .c_box .c_box2 h3{
    position: relative;
    left: 110px;
    top: 70px;
    font-size: 30px;
    color: black;
}
.content2 .c_box .c_box2 p{
    position: relative;
    top: 90px;
    font-size: 20px;
    text-indent: 30px;
    color: rgb(128,128,128);
}
.content2 .c_box .c_box2 a{
    position: relative;
    top: 175px;
    left: 130px;
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.content2 .c_box .c_box2 a:hover{
    text-decoration: underline;
}
.content2 .c_box .c_box3{
    position: relative;
    top: 50px;
    height: 450px;
    width: 400px;
    background-color: white;
}
.content2 .c_box .c_box3 p span{
    font-size: 80px;
    color: green;
    position: relative;
    left: 140px;
    top: -15px;
}
.content2 .c_box .c_box3 h3{
    position: relative;
    left: 100px;
    top: 70px;
    font-size: 30px;
    color: black;
}
.content2 .c_box .c_box3 p{
    position: relative;
    top: 90px;
    font-size: 20px;
    text-indent: 30px;
    color: rgb(128,128,128);
}
.content2 .c_box .c_box3 a{
    position: relative;
    top: 130px;
    left: 130px;
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.content2 .c_box .c_box3 a:hover{
    text-decoration: underline;
}

.content2 .c_box .c_box4{
    position: relative;
    top: 550px;
    height: 450px;
    width: 400px;
    background-color: white;
}
.content2 .c_box .c_box4 p span{
    font-size: 80px;
    color: green;
    position: relative;
    left: 130px;
    /* top: -380px; */
}
.content2 .c_box .c_box4 h3{
    position: relative;
    left: 100px;
    top: -380px;
    font-size: 30px;
    color: black;
}
.content2 .c_box .c_box4 a{
    position: relative;
    top: -330px;
    left: 130px;
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.content2 .c_box .c_box4 a:hover{
    text-decoration: underline;
}
.content2 .c_box .c_box4 p{
    position: relative;
    top: -370px;
    font-size: 20px;
    text-indent: 30px;
    color: rgb(128,128,128);
}
.content2 .c_box .c_box5{
    position: relative;
    top: 100px;
    right: 500px;
    height: 450px;
    width: 400px;

    background-color: white;
}
.content2 .c_box .c_box5 p span{
    font-size: 80px;
    color: green;
    position: relative;
    left: 130px;
    /* top: -15px; */
}
.content2 .c_box .c_box5 h3{
    position: relative;
    left: 100px;
    top: 70px;
    font-size: 30px;
    color: black;
}
.content2 .c_box .c_box5 p{
    position: relative;
    top: 80px;
    font-size: 20px;
    text-indent: 30px;
    color: rgb(128,128,128);
}
.content2 .c_box .c_box5 a{
    position: relative;
    top: 200px;
    left: 130px;
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.content2 .c_box .c_box5 a:hover{
    text-decoration: underline;
}

.content2 .c_box .c_box6{
    position: relative;
    top: 100px;
    left: 1000px;
    height: 450px;
    width: 400px;

    background-color: white;
}
.content2 .c_box .c_box6 p span{
    font-size: 80px;
    color: green;
    position: relative;
    left: 130px;
    /* top: 10px; */
}
.content2 .c_box .c_box6 h3{
    position: relative;
    left: 100px;
    top: 80px;
    font-size: 30px;
    color: black;
}
.content2 .c_box .c_box6 p{
    position: relative;
    top: 85px;
    font-size: 20px;
    text-indent: 30px;
    color: rgb(128,128,128);
}
.content2 .c_box .c_box6 a{
    position: relative;
    top: 200px;
    left: 130px;
    font-size: 20px;
    color: rgb(255, 166, 0);
}
.content2 .c_box .c_box6 a:hover{
    text-decoration: underline;
}
/* 内容3 end*/


